@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap');
body {
  font-family: 'Nunito';
  background-color: #F3F2F2;
}
.grey {
    background: #ececec;
  }
.grey1 {
  background: grey;
}
  
  .green {
    /* background: #17d617; */
    background-color: #00680A;
  }
  
.red {
    /* background: #dd0505; */
    background-color: #BA0000;
}
.black {
  background-color: black;
}
.blue {
  background: blue;
}

.blackColor {
  color: black;
}
.blueColor {
  color: blue;
}
.greyColor {
    color: #ececec;
}
.grey1Color {
  color: grey;
}
  
.greenColor {
    color: #17d617;
}
  
.redColor {
    color: #dd0505;
}
  .station-name {
    height: 26px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    margin: 0;
    font-size: 8px;
    overflow: hidden; 
    z-index: 10;   
}
.width {
  width: 1.5px;
}
.height {
  height: 1.5px;
}
.activeText {
  color:white;
  font-size: 6px;
}
.nonActiveText {
  color: black;
  font-size: 5px;
}

.connection {
  position: absolute;
  z-index: 10;
}
.v-connection {
  top: 26px; left: 34px;
}
.arrow {
  position: absolute;
}
.hArrowStart {
  left: 3px;
  top: -2px;
}
.hArrowEnd {
  right: 3px;
  top: -2px;
}
.vArrowStart {
  top: 3px;
  right: -2px;
}
.vArrowEnd {
  bottom: 3px;
  right: -2px;
}
