.overlayContainer {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 200;
}

.overlayContainer__content {
  width: 30%;
  height: 50%;
  background-color: #00680A;
  border-radius: 10px;
  color: white;
  padding: 0px 20px;
  z-index: 200;
}

.overlayContainer__content__title {
  text-align: center;
}

.overlayContainer__content .divider {
  width: 100%;
  height: 1px;
  background-color: rgba(231, 231, 231, 0.6);
}

.overlayContainer__content__row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 0px;
}

.makeHovarable {
  cursor: pointer;
}

.colorWhite {
  color: white;
}

.colorBlack {
  color: black;
}

#row1 {
  top: 0px;
}

#row2 {
  top: 78px;
}

#row3 {
  top: 182px;
}

#row4 {
  top: 442px;
}

#row5 {
  top: 676px;
}

#col1 {
  left: 0px;
}

#col2 {
  left: 408px;
}

#col3 {
  left: 680px;
}

#col4 {
  left: 1088px;
}

#col5 {
  left: 1564px;
}

.line {
  position: absolute;
  width: 68px;
  height: 26px;
  font-size: 6px;
  padding: 0;
  margin: 0;
  border: 0.1px solid gainsboro;
}

.line .line-name {
  width: 100%;
  height: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  margin: 0;
}

.line .data-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
}

.line .data-group div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.line .line-data {
  width: 33px;
  height: 8px;
  margin: 0;
  padding: 0;
}

#fakun {
  position: absolute;
  width: 68px;
  height: 52px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 8px 16px #0000001F;
          box-shadow: 0px 8px 16px #0000001F;
  background-color: #e2dfdf;
  top: 0px;
  left: 204px;
}

#fakun #fakun-k1f {
  left: -1px;
  top: 25px;
}

#fakun #fakun-k1f #k1f-v-0 {
  height: 52px;
  top: 26px;
  left: 34px;
}

#kebbi {
  position: absolute;
  width: 68px;
  height: 52px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 8px 16px #0000001F;
          box-shadow: 0px 8px 16px #0000001F;
  background-color: #e2dfdf;
  top: 78px;
  left: 0px;
}

#kebbi #kebbi-k3r {
  left: -1px;
  top: 25px;
}

#kebbi #kebbi-k3r #k3r-h-0 {
  width: 68px;
  top: 13px;
  left: 68px;
}

#kainjiTs {
  position: absolute;
  width: 204px;
  height: 78px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 8px 16px #0000001F;
          box-shadow: 0px 8px 16px #0000001F;
  background-color: #e2dfdf;
  top: 78px;
  left: 136px;
}

#kainjiTs #kainjiTs-k3r {
  left: -1px;
  top: 25px;
}

#kainjiTs #kainjiTs-k1f {
  left: 67px;
  top: 25px;
}

#kainjiTs #kainjiTs-k1j {
  left: -1px;
  top: 51px;
}

#kainjiTs #kainjiTs-k1j #k1j-v-0 {
  top: 26px;
  left: 34px;
  height: 52px;
}

#kainjiTs #kainjiTs-k2j {
  left: 67px;
  top: 51px;
}

#kainjiTs #kainjiTs-k2j #k2j-v-0 {
  top: 26px;
  left: 34px;
  height: 52px;
}

#kainjiTs #kainjiTs-kn1k {
  left: 135px;
  top: 25px;
}

#kainjiTs #kainjiTs-kn1k #kn1k-h-0 {
  width: 68px;
  top: 13px;
  left: 68px;
}

#kainjiTs #kainjiTs-kn2k {
  left: 135px;
  top: 51px;
}

#kainjiTs #kainjiTs-kn2k #kn2k-h-0 {
  width: 68px;
  top: 13px;
  left: 68px;
}

#jebbaGs {
  position: absolute;
  width: 68px;
  height: 78px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 8px 16px #0000001F;
          box-shadow: 0px 8px 16px #0000001F;
  background-color: #e2dfdf;
  top: 208px;
  left: 0px;
}

#jebbaGs #jebbaGs-b8j {
  left: -1px;
  top: 25px;
}

#jebbaGs #jebbaGs-b8j #b8j-h-0 {
  width: 68px;
  top: 13px;
  left: 68px;
}

#jebbaGs #jebbaGs-b9j {
  left: -1px;
  top: 51px;
}

#jebbaGs #jebbaGs-b9j #b9j-h-0 {
  width: 68px;
  top: 13px;
  left: 68px;
}

#jebbaTs {
  position: absolute;
  width: 204px;
  height: 156px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 8px 16px #0000001F;
          box-shadow: 0px 8px 16px #0000001F;
  background-color: #e2dfdf;
  top: 182px;
  left: 136px;
}

#jebbaTs #jebbaTs-k1j {
  left: -1px;
  top: 25px;
}

#jebbaTs #jebbaTs-k2j {
  left: 67px;
  top: 25px;
}

#jebbaTs #jebbaTs-j3r {
  left: 135px;
  top: 25px;
}

#jebbaTs #jebbaTs-j3r #j3r-h-0 {
  width: 68px;
  top: 13px;
  left: 68px;
}

#jebbaTs #jebbaTs-j7r {
  left: 135px;
  top: 51px;
}

#jebbaTs #jebbaTs-j7r #j7r-h-0 {
  width: 68px;
  top: 13px;
  left: 68px;
}

#jebbaTs #jebbaTs-b8j {
  left: -1px;
  top: 51px;
}

#jebbaTs #jebbaTs-b9j {
  left: -1px;
  top: 77px;
}

#jebbaTs #jebbaTs-j1h {
  left: -1px;
  top: 129px;
}

#jebbaTs #jebbaTs-j1h #j1h-v-0 {
  top: 26px;
  left: 34px;
  height: 52px;
}

#jebbaTs #jebbaTs-j2h {
  left: 67px;
  top: 129px;
}

#jebbaTs #jebbaTs-j2h #j2h-v-0 {
  top: 26px;
  left: 34px;
  height: 52px;
}

#jebbaTs #jebbaTs-j3g {
  left: 135px;
  top: 129px;
}

#jebbaTs #jebbaTs-j3g #j3g-h-0 {
  width: 68px;
  top: 13px;
  left: 68px;
}

#ayade {
  position: absolute;
  width: 68px;
  height: 78px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 8px 16px #0000001F;
          box-shadow: 0px 8px 16px #0000001F;
  background-color: #e2dfdf;
  top: 364px;
  left: 0px;
}

#ayade #ayade-r2a {
  left: -1px;
  top: 51px;
}

#ayade #ayade-r2a #r2a-v-0 {
  top: 26px;
  left: 34px;
  height: 13px;
}

#ayade #ayade-r2a #r2a-h-1 {
  top: 39px;
  left: 34px;
  width: 68px;
}

#ayade #ayade-r2a #r2a-v-2 {
  top: 39px;
  left: 102px;
  height: 39px;
}

#ayade #ayade-h2a {
  left: -1px;
  top: 25px;
}

#ayade #ayade-h2a #h2a-h-0 {
  top: 13px;
  left: 68px;
  width: 34px;
}

#ayade #ayade-h2a #h2a-v-0 {
  top: 13px;
  left: 102px;
  height: 26px;
}

#ayade #ayade-h2a #h2a-h-1 {
  top: 39px;
  left: 102px;
  width: 34px;
}

#oshogbo {
  position: absolute;
  width: 204px;
  height: 78px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 8px 16px #0000001F;
          box-shadow: 0px 8px 16px #0000001F;
  background-color: #e2dfdf;
  top: 364px;
  left: 136px;
}

#oshogbo #oshogbo-j1h {
  left: -1px;
  top: 25px;
}

#oshogbo #oshogbo-j2h {
  left: 67px;
  top: 25px;
}

#oshogbo #oshogbo-h3g {
  left: 135px;
  top: 25px;
}

#oshogbo #oshogbo-h3g #h3g-h-0 {
  width: 34px;
  top: 13px;
  left: 68px;
}

#oshogbo #oshogbo-h3g #h3g-v-1 {
  bottom: 12px;
  left: 102px;
  height: 52px;
}

#oshogbo #oshogbo-h3g #h3g-h-2 {
  width: 34px;
  top: -39px;
  left: 102px;
}

#oshogbo #oshogbo-h2a {
  left: -1px;
  top: 51px;
}

#oshogbo #oshogbo-h1w {
  left: 67px;
  top: 51px;
}

#oshogbo #oshogbo-h1w #h1w-v-0 {
  top: 26px;
  left: 34px;
  height: 130px;
}

#oshogbo #oshogbo-h7v {
  left: 135px;
  top: 51px;
}

#oshogbo #oshogbo-h7v #h7v-h-0 {
  width: 68px;
  top: 13px;
  left: 68px;
}

#olorunsogoNippGs {
  position: absolute;
  width: 68px;
  height: 52px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 8px 16px #0000001F;
          box-shadow: 0px 8px 16px #0000001F;
  background-color: #e2dfdf;
  top: 468px;
  left: 0px;
}

#olorunsogoPhase1Gs {
  position: absolute;
  width: 136px;
  height: 52px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 8px 16px #0000001F;
          box-shadow: 0px 8px 16px #0000001F;
  background-color: #e2dfdf;
  top: 468px;
  left: 67px;
}

#olorunsogoPhase1Gs #olorunsogoPhase1Gs-r2a {
  left: -1px;
  top: 25px;
}

#olorunsogoPhase1Gs #olorunsogoPhase1Gs-r1w {
  left: 67px;
  top: 25px;
}

#olorunsogoPhase1Gs #olorunsogoPhase1Gs-r1w #r1w-v-0 {
  top: 26px;
  left: 34px;
  height: 52px;
}

#sakete {
  position: absolute;
  width: 68px;
  height: 52px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 8px 16px #0000001F;
          box-shadow: 0px 8px 16px #0000001F;
  background-color: #e2dfdf;
  top: 572px;
  left: 0px;
}

#sakete #sakete-nw1bs {
  left: -1px;
  top: 25px;
}

#sakete #sakete-nw1bs #nw1bs-h-0 {
  width: 68px;
  top: 13px;
  left: 68px;
}

#ikejaWest {
  position: absolute;
  width: 272px;
  height: 130px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 8px 16px #0000001F;
          box-shadow: 0px 8px 16px #0000001F;
  background-color: #e2dfdf;
  top: 546px;
  left: 136px;
}

#ikejaWest #ikejaWest-r1w {
  left: -1px;
  top: 25px;
}

#ikejaWest #ikejaWest-h1w {
  left: 67px;
  top: 25px;
}

#ikejaWest #ikejaWest-m5w {
  left: 203px;
  top: 25px;
}

#ikejaWest #ikejaWest-m5w #m5w-h-0 {
  width: 136px;
  top: 13px;
  left: 68px;
}

#ikejaWest #ikejaWest-nw1bs {
  left: -1px;
  top: 51px;
}

#ikejaWest #ikejaWest-k7w {
  left: -1px;
  top: 103px;
}

#ikejaWest #ikejaWest-k7w #k7w-v-0 {
  top: 26px;
  left: 34px;
  height: 52px;
}

#ikejaWest #ikejaWest-k8w {
  left: 67px;
  top: 103px;
}

#ikejaWest #ikejaWest-k8w #k8w-v-0 {
  top: 26px;
  left: 34px;
  height: 52px;
}

#ikejaWest #ikejaWest-n6w {
  left: 135px;
  top: 103px;
  /*  1st Line */
  /*  2nd Line */
  /*  3rd Line */
}

#ikejaWest #ikejaWest-n6w #n6w-v-0 {
  top: 26px;
  left: 34px;
  height: 13px;
}

#ikejaWest #ikejaWest-n6w #n6w-h-0 {
  top: 39px;
  left: 34px;
  width: 272px;
}

#ikejaWest #ikejaWest-n6w #n6w-v-1 {
  top: 39px;
  left: 306px;
  height: 39px;
}

#ikejaWest #ikejaWest-w4l {
  left: 203px;
  top: 103px;
}

#ikejaWest #ikejaWest-w4l #w4l-h-0 {
  width: 68px;
  top: 13px;
  left: 68px;
}

#ikejaWest #ikejaWest-w3l {
  left: 203px;
  top: 77px;
}

#ikejaWest #ikejaWest-w3l #w3l-h-0 {
  width: 68px;
  top: 13px;
  left: 68px;
}

#okearo {
  position: absolute;
  width: 204px;
  height: 78px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 8px 16px #0000001F;
          box-shadow: 0px 8px 16px #0000001F;
  background-color: #e2dfdf;
  top: 701px;
  left: 136px;
}

#okearo #okearo-k7w {
  left: -1px;
  top: 25px;
}

#okearo #okearo-k8w {
  left: 67px;
  top: 25px;
}

#okearo #okearo-n7k {
  left: 135px;
  top: 25px;
}

#okearo #okearo-n7k #n7k-h-0 {
  top: 13px;
  left: 68px;
  width: 68px;
}

#okearo #okearo-n8k {
  left: 135px;
  top: 51px;
}

#okearo #okearo-n8k #n8k-h-0 {
  top: 13px;
  left: 68px;
  width: 68px;
}

#ajah {
  position: absolute;
  width: 136px;
  height: 104px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 8px 16px #0000001F;
          box-shadow: 0px 8px 16px #0000001F;
  background-color: #e2dfdf;
  top: 780px;
  left: 0px;
}

#ajah #ajah-n3j {
  left: 67px;
  top: 25px;
}

#ajah #ajah-n3j #n3j-h-0 {
  width: 272px;
  top: 13px;
  left: 68px;
}

#ajah #ajah-n4j {
  left: 67px;
  top: 51px;
}

#ajah #ajah-n4j #n4j-h-0 {
  width: 272px;
  top: 13px;
  left: 68px;
}

#ajah #ajah-j1e {
  left: 67px;
  top: 77px;
}

#ajah #ajah-j1e #j1e-h-0 {
  width: 34px;
  top: 13px;
  left: 68px;
}

#ajah #ajah-j1e #j1e-v-1 {
  top: 13px;
  left: 102px;
  height: 65px;
}

#ajah #ajah-j1b {
  left: -1px;
  top: 77px;
}

#ajah #ajah-j1b #jib-v-0 {
  top: 26px;
  left: 34px;
  height: 52px;
}

#alagbon {
  position: absolute;
  width: 68px;
  height: 78px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 8px 16px #0000001F;
          box-shadow: 0px 8px 16px #0000001F;
  background-color: #e2dfdf;
  top: 909px;
  left: 0px;
}

#alagbon #alagbon-j1b {
  left: -1px;
  top: 25px;
}

#alagbon #alagbon-b1e {
  left: -1px;
  top: 51px;
}

#alagbon #alagbon-b1e #b1e-h-0 {
  width: 68px;
  top: 13px;
  left: 68px;
}

#lekki {
  position: absolute;
  width: 68px;
  height: 78px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 8px 16px #0000001F;
          box-shadow: 0px 8px 16px #0000001F;
  background-color: #e2dfdf;
  top: 909px;
  left: 135px;
}

#lekki #lekki-j1e {
  left: -1px;
  top: 25px;
}

#lekki #lekki-b1e {
  left: -1px;
  top: 51px;
}

#egbinGs {
  position: absolute;
  width: 204px;
  height: 156px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 8px 16px #0000001F;
          box-shadow: 0px 8px 16px #0000001F;
  background-color: #e2dfdf;
  top: 702px;
  left: 408px;
}

#egbinGs #egbinGs-n7k {
  left: -1px;
  top: 25px;
}

#egbinGs #egbinGs-n8k {
  left: -1px;
  top: 51px;
}

#egbinGs #egbinGs-n6w {
  left: 135px;
  top: 25px;
}

#egbinGs #egbinGs-b6n {
  left: 135px;
  top: 51px;
}

#egbinGs #egbinGs-b6n #b6n-h-0 {
  width: 34px;
  top: 13px;
  left: 68px;
}

#egbinGs #egbinGs-b6n #b6n-v-1 {
  bottom: 12px;
  left: 102px;
  height: 156px;
}

#egbinGs #egbinGs-b6n #b6n-h-1 {
  bottom: 168px;
  left: 102px;
  width: 34px;
}

#egbinGs #egbinGs-n3j {
  left: -1px;
  top: 103px;
}

#egbinGs #egbinGs-n4j {
  left: -1px;
  top: 129px;
}

#egbinGs #egbinGs-n21d {
  left: 67px;
  top: 129px;
}

#egbinGs #egbinGs-n21d #n21d-v-0 {
  top: 26px;
  left: 34px;
  height: 78px;
}

#egbinGs #egbinGs-n22d {
  left: 135px;
  top: 129px;
}

#egbinGs #egbinGs-n22d #n22d-v-0 {
  top: 26px;
  left: 34px;
  height: 78px;
}

#sagamu {
  position: absolute;
  width: 68px;
  height: 78px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 8px 16px #0000001F;
          box-shadow: 0px 8px 16px #0000001F;
  background-color: #e2dfdf;
  top: 883px;
  left: 272px;
}

#sagamu #sagamu-d23s {
  left: -1px;
  top: 25px;
}

#sagamu #sagamu-d23s #d23s-h-0 {
  width: 68px;
  top: 13px;
  left: 68px;
}

#sagamu #sagamu-d24s {
  left: -1px;
  top: 51px;
}

#sagamu #sagamu-d24s #d24s-h-0 {
  width: 68px;
  top: 13px;
  left: 68px;
}

#odogunyan {
  position: absolute;
  width: 68px;
  height: 52px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 8px 16px #0000001F;
          box-shadow: 0px 8px 16px #0000001F;
  background-color: #e2dfdf;
  top: 1012px;
  left: 272px;
}

#odogunyan #odogunyan-d23y {
  left: -1px;
  top: 25px;
}

#ikorodu {
  position: absolute;
  width: 204px;
  height: 104px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 8px 16px #0000001F;
          box-shadow: 0px 8px 16px #0000001F;
  background-color: #e2dfdf;
  top: 883px;
  left: 408px;
}

#ikorodu #ikorodu-d23s {
  left: -1px;
  top: 25px;
}

#ikorodu #ikorodu-d24s {
  left: -1px;
  top: 51px;
}

#ikorodu #ikorodu-n21d {
  left: 67px;
  top: 25px;
}

#ikorodu #ikorodu-n22d {
  left: 135px;
  top: 25px;
}

#ikorodu #ikorodu-d21p {
  left: 67px;
  top: 77px;
}

#ikorodu #ikorodu-d21p #d21p-v-0 {
  top: 26px;
  left: 34px;
  height: 52px;
}

#ikorodu #ikorodu-d22p {
  left: 135px;
  top: 77px;
}

#ikorodu #ikorodu-d22p #d22p-v-0 {
  top: 26px;
  left: 34px;
  height: 52px;
}

#ikorodu #ikorodu-d23y {
  left: -1px;
  top: 77px;
}

#ikorodu #ikorodu-d23y #d23y-h-0 {
  top: 13px;
  right: 68px;
  width: 102px;
}

#ikorodu #ikorodu-d23y #d23y-v-1 {
  top: 13px;
  left: -102px;
  height: 39px;
}

#parasEnergyGs {
  position: absolute;
  width: 136px;
  height: 52px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 8px 16px #0000001F;
          box-shadow: 0px 8px 16px #0000001F;
  background-color: #e2dfdf;
  top: 1012px;
  left: 476px;
}

#parasEnergyGs #parasEnergyGs-d21p {
  left: -1px;
  top: 25px;
}

#parasEnergyGs #parasEnergyGs-d22p {
  left: 67px;
  top: 25px;
}

#kainjiGs {
  position: absolute;
  width: 68px;
  height: 78px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 8px 16px #0000001F;
          box-shadow: 0px 8px 16px #0000001F;
  background-color: #e2dfdf;
  top: 78px;
  left: 408px;
}

#kainjiGs #kainjiGs-kn1k {
  left: -1px;
  top: 25px;
}

#kainjiGs #kainjiGs-kn2k {
  left: -1px;
  top: 51px;
}

#shiroroGs {
  position: absolute;
  width: 204px;
  height: 78px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 8px 16px #0000001F;
          box-shadow: 0px 8px 16px #0000001F;
  background-color: #e2dfdf;
  top: 182px;
  left: 408px;
}

#shiroroGs #shiroroGs-j3r {
  left: -1px;
  top: 25px;
}

#shiroroGs #shiroroGs-j7r {
  left: -1px;
  top: 51px;
}

#shiroroGs #shiroroGs-r1m {
  left: 67px;
  top: 25px;
}

#shiroroGs #shiroroGs-r2m {
  left: 135px;
  top: 25px;
}

#shiroroGs #shiroroGs-r4b {
  left: 67px;
  top: 51px;
}

#shiroroGs #shiroroGs-r4b #r4b-v-0 {
  top: 26px;
  left: 34px;
  height: 91px;
}

#shiroroGs #shiroroGs-r4b #r4b-h-0 {
  width: 34px;
  top: 117px;
  left: 34px;
}

#shiroroGs #shiroroGs-r5g {
  left: 135px;
  top: 51px;
}

#shiroroGs #shiroroGs-r5g #r5g-h-0 {
  width: 34px;
  top: 13px;
  left: 68px;
}

#shiroroGs #shiroroGs-r5g #r5g-v-0 {
  top: 13px;
  left: 102px;
  height: 104px;
}

#shiroroGs #shiroroGs-r5g #r5g-h-1 {
  width: 102px;
  top: 117px;
  left: 102px;
}

#ganmo {
  position: absolute;
  width: 68px;
  height: 78px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 8px 16px #0000001F;
          box-shadow: 0px 8px 16px #0000001F;
  background-color: #e2dfdf;
  top: 285px;
  left: 408px;
}

#ganmo #ganmo-j3g {
  left: -1px;
  top: 25px;
}

#ganmo #ganmo-h3g {
  left: -1px;
  top: 51px;
}

#katampe {
  position: absolute;
  width: 68px;
  height: 78px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 8px 16px #0000001F;
          box-shadow: 0px 8px 16px #0000001F;
  background-color: #e2dfdf;
  top: 311px;
  left: 543px;
}

#katampe #katampe-r4b {
  left: -1px;
  top: 25px;
}

#katampe #katampe-g5b {
  left: -1px;
  top: 51px;
}

#katampe #katampe-g5b #g5b-h-0 {
  width: 136px;
  top: 13px;
  left: 68px;
}

#ihovborNippGs {
  position: absolute;
  width: 136px;
  height: 52px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 8px 16px #0000001F;
          box-shadow: 0px 8px 16px #0000001F;
  background-color: #e2dfdf;
  top: 390px;
  left: 408px;
}

#ihovborNippGs #ihovborNippGs-h7v {
  left: -1px;
  top: 25px;
}

#ihovborNippGs #ihovborNippGs-v7b {
  left: 67px;
  top: 25px;
}

#ihovborNippGs #ihovborNippGs-v7b #v7b-h-0 {
  width: 170px;
  top: 13px;
  left: 68px;
}

#ihovborNippGs #ihovborNippGs-v7b #v7b-v-1 {
  top: 13px;
  left: 238px;
  height: 91px;
}

#azuraIppGs {
  position: absolute;
  width: 68px;
  height: 52px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 8px 16px #0000001F;
          box-shadow: 0px 8px 16px #0000001F;
  background-color: #e2dfdf;
  top: 442px;
  left: 408px;
}

#omotoshoNippGs {
  position: absolute;
  width: 68px;
  height: 52px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 8px 16px #0000001F;
          box-shadow: 0px 8px 16px #0000001F;
  background-color: #e2dfdf;
  top: 468px;
  left: 544px;
}

#omotoshoPhase1Gs {
  position: absolute;
  width: 68px;
  height: 78px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 8px 16px #0000001F;
          box-shadow: 0px 8px 16px #0000001F;
  background-color: #e2dfdf;
  top: 519px;
  left: 544px;
}

#omotoshoPhase1Gs #omotoshoPhase1Gs-b5m {
  left: -1px;
  top: 25px;
}

#omotoshoPhase1Gs #omotoshoPhase1Gs-b5m #b5m-h-0 {
  width: 68px;
  top: 13px;
  left: 68px;
}

#omotoshoPhase1Gs #omotoshoPhase1Gs-m5w {
  left: -1px;
  top: 51px;
}

#akangba {
  position: absolute;
  width: 68px;
  height: 78px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 8px 16px #0000001F;
          box-shadow: 0px 8px 16px #0000001F;
  background-color: #e2dfdf;
  top: 598px;
  left: 476px;
}

#akangba #akangba-w3l {
  left: -1px;
  top: 25px;
}

#akangba #akangba-w4l {
  left: -1px;
  top: 51px;
}

#kaduna {
  position: absolute;
  width: 204px;
  height: 78px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 8px 16px #0000001F;
          box-shadow: 0px 8px 16px #0000001F;
  background-color: #e2dfdf;
  top: 0px;
  left: 476px;
}

#kaduna #kaduna-r1m {
  left: -1px;
  top: 51px;
}

#kaduna #kaduna-r1m #r1m-v-0 {
  top: 26px;
  left: 34px;
  height: 130px;
}

#kaduna #kaduna-r2m {
  left: 67px;
  top: 51px;
}

#kaduna #kaduna-r2m #r2m-v-0 {
  top: 26px;
  left: 34px;
  height: 130px;
}

#kaduna #kaduna-m6n {
  left: 135px;
  top: 25px;
}

#kaduna #kaduna-m6n #m6n-h-0 {
  width: 68px;
  top: 13px;
  left: 68px;
}

#kaduna #kaduna-m2s {
  left: 135px;
  top: 51px;
}

#kaduna #kaduna-m2s #m2s-v-0 {
  top: 26px;
  left: 34px;
  height: 39px;
}

#kaduna #kaduna-m2s #m2s-h-1 {
  width: 34px;
  top: 65px;
  left: 34px;
}

#kano {
  position: absolute;
  width: 68px;
  height: 52px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 8px 16px #0000001F;
          box-shadow: 0px 8px 16px #0000001F;
  background-color: #e2dfdf;
  top: 0px;
  left: 748px;
}

#kano #kano-m6n {
  left: -1px;
  top: 25px;
}

#dadinKowaGs {
  position: absolute;
  width: 136px;
  height: 52px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 8px 16px #0000001F;
          box-shadow: 0px 8px 16px #0000001F;
  background-color: #e2dfdf;
  top: 0px;
  left: 952px;
}

#dadinKowaGs #dadinKowaGs-w23e {
  left: -1px;
  top: 25px;
}

#dadinKowaGs #dadinKowaGs-w23e #w23e-v-0 {
  top: 26px;
  left: 34px;
  height: 52px;
}

#dadinKowaGs #dadinKowaGs-w21b {
  left: 67px;
  top: 25px;
}

#dadinKowaGs #dadinKowaGs-w21b #w21b-h-0 {
  width: 68px;
  top: 13px;
  left: 68px;
}

#jos {
  position: absolute;
  width: 136px;
  height: 78px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 8px 16px #0000001F;
          box-shadow: 0px 8px 16px #0000001F;
  background-color: #e2dfdf;
  top: 77px;
  left: 680px;
}

#jos #jos-m2s {
  left: -1px;
  top: 25px;
}

#jos #jos-s1e {
  left: 67px;
  top: 25px;
}

#jos #jos-s1e #s1e-h-0 {
  width: 68px;
  top: 13px;
  left: 68px;
}

#jos #jos-a1s {
  left: -1px;
  top: 51px;
}

#jos #jos-a1s #a1s-v-0 {
  top: 26px;
  left: 34px;
  height: 52px;
}

#jos #jos-a2s {
  left: 67px;
  top: 51px;
}

#jos #jos-a2s #a2s-v-0 {
  top: 26px;
  left: 34px;
  height: 52px;
}

#gombe {
  position: absolute;
  width: 204px;
  height: 78px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 8px 16px #0000001F;
          box-shadow: 0px 8px 16px #0000001F;
  background-color: #e2dfdf;
  top: 77px;
  left: 883px;
}

#gombe #gombe-s1e {
  left: -1px;
  top: 25px;
}

#gombe #gombe-w23e {
  left: 67px;
  top: 25px;
}

#gombe #gombe-e1d {
  left: 135px;
  top: 25px;
}

#gombe #gombe-e1d #e1d-h-0 {
  width: 68px;
  top: 13px;
  left: 68px;
}

#gombe #gombe-e1y {
  left: 135px;
  top: 51px;
}

#gombe #gombe-e1y #e1y-h-0 {
  width: 408px;
  top: 13px;
  left: 68px;
}

#markudi {
  position: absolute;
  width: 136px;
  height: 104px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 8px 16px #0000001F;
          box-shadow: 0px 8px 16px #0000001F;
  background-color: #e2dfdf;
  top: 180px;
  left: 680px;
}

#markudi #markudi-a1s {
  left: -1px;
  top: 25px;
}

#markudi #markudi-a2s {
  left: 67px;
  top: 25px;
}

#markudi #markudi-u1a {
  left: 67px;
  top: 51px;
}

#markudi #markudi-u1a #u1a-h-0 {
  width: 748px;
  top: 13px;
  left: 68px;
}

#markudi #markudi-u2a {
  left: 67px;
  top: 77px;
}

#markudi #markudi-u2a #u2a-h-0 {
  width: 748px;
  top: 13px;
  left: 68px;
}

#gwagwalada {
  position: absolute;
  width: 136px;
  height: 78px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 8px 16px #0000001F;
          box-shadow: 0px 8px 16px #0000001F;
  background-color: #e2dfdf;
  top: 309px;
  left: 748px;
}

#gwagwalada #gwagwalada-r5g {
  left: -1px;
  top: 25px;
}

#gwagwalada #gwagwalada-g5b {
  left: -1px;
  top: 51px;
}

#gwagwalada #gwagwalada-l6g {
  left: 67px;
  top: 25px;
}

#gwagwalada #gwagwalada-l6g #l6g-h-0 {
  width: 68px;
  top: 13px;
  left: 68px;
}

#gwagwalada #gwagwalada-l7g {
  left: 67px;
  top: 51px;
}

#gwagwalada #gwagwalada-l7g #l7g-h-0 {
  width: 68px;
  top: 13px;
  left: 68px;
}

#lokojaTs {
  position: absolute;
  width: 136px;
  height: 78px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 8px 16px #0000001F;
          box-shadow: 0px 8px 16px #0000001F;
  background-color: #e2dfdf;
  top: 309px;
  left: 951px;
}

#lokojaTs #lokojaTs-l6g {
  left: -1px;
  top: 25px;
}

#lokojaTs #lokojaTs-l7g {
  left: -1px;
  top: 51px;
}

#lokojaTs #lokojaTs-j1l {
  left: 67px;
  top: 25px;
}

#lokojaTs #lokojaTs-j1l #j1l-h-0 {
  width: 102px;
  top: 13px;
  left: 68px;
}

#lokojaTs #lokojaTs-j1l #j1l-v-1 {
  top: 13px;
  left: 170px;
  height: 117px;
}

#lokojaTs #lokojaTs-j2l {
  left: 67px;
  top: 51px;
}

#lokojaTs #j2l-h-0 {
  width: 34px;
  top: 13px;
  left: 68px;
}

#lokojaTs #j2l-v-1 {
  top: 13px;
  left: 102px;
  height: 130px;
}

#lokojaTs #j2l-h-2 {
  width: 34px;
  top: 143px;
  left: 102px;
}

#benin {
  position: absolute;
  width: 408px;
  height: 156px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 8px 16px #0000001F;
          box-shadow: 0px 8px 16px #0000001F;
  background-color: #e2dfdf;
  top: 493px;
  left: 680px;
}

#benin #benin-v7b {
  left: -1px;
  top: 25px;
}

#benin #benin-b5m {
  left: -1px;
  top: 51px;
}

#benin #benin-b6n {
  left: -1px;
  top: 103px;
}

#benin #benin-g3b {
  left: -1px;
  top: 129px;
}

#benin #benin-g3b #g3b-v-0 {
  top: 26px;
  left: 34px;
  height: 78px;
}

#benin #benin-s3b {
  left: 135px;
  top: 129px;
}

#benin #benin-s3b #s3b-v-0 {
  top: 26px;
  left: 34px;
  height: 52px;
}

#benin #benin-s4b {
  left: 203px;
  top: 129px;
}

#benin #benin-s4b #s4b-v-0 {
  top: 26px;
  left: 34px;
  height: 52px;
}

#benin #benin-s5b {
  left: 271px;
  top: 129px;
}

#benin #benin-s5b #s5b-v-0 {
  top: 26px;
  left: 34px;
  height: 52px;
}

#benin #benin-b3d {
  left: 339px;
  top: 129px;
}

#benin #benin-b3d #b3d-h-0 {
  width: 272px;
  top: 13px;
  left: 68px;
}

#benin #benin-b2t {
  left: 339px;
  top: 103px;
}

#benin #benin-b2t #b2t-h-0 {
  width: 476px;
  top: 13px;
  left: 68px;
  z-index: -10;
}

#benin #benin-b1t {
  left: 339px;
  top: 77px;
}

#benin #benin-b1t #b1t-h-0 {
  width: 476px;
  top: 13px;
  left: 68px;
}

#benin #benin-b12j {
  left: 339px;
  top: 51px;
}

#benin #benin-b12j #b12j-h-0 {
  width: 68px;
  top: 13px;
  left: 68px;
}

#benin #benin-b11j {
  left: 339px;
  top: 25px;
}

#benin #benin-b11j #b11j-h-0 {
  width: 68px;
  top: 13px;
  left: 68px;
}

#deltaGs {
  position: absolute;
  width: 68px;
  height: 78px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 8px 16px #0000001F;
          box-shadow: 0px 8px 16px #0000001F;
  background-color: #e2dfdf;
  top: 700px;
  left: 680px;
}

#deltaGs #deltaGs-g3b {
  left: -1px;
  top: 25px;
}

#deltaGs #deltaGs-s4g {
  left: -1px;
  top: 51px;
}

#deltaGs #deltaGs-s4g #s4g-h-0 {
  width: 68px;
  top: 13px;
  left: 68px;
}

#sapeleGs {
  position: absolute;
  width: 204px;
  height: 52px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 8px 16px #0000001F;
          box-shadow: 0px 8px 16px #0000001F;
  background-color: #e2dfdf;
  top: 676px;
  left: 815px;
}

#sapeleGs #sapeleGs-s3b {
  left: -1px;
  top: 25px;
}

#sapeleGs #sapeleGs-s4b {
  left: 67px;
  top: 25px;
}

#sapeleGs #sapeleGs-s5b {
  left: 135px;
  top: 25px;
}

#aladja {
  position: absolute;
  width: 68px;
  height: 52px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 8px 16px #0000001F;
          box-shadow: 0px 8px 16px #0000001F;
  background-color: #e2dfdf;
  top: 803px;
  left: 747px;
}

#aladja #aladja-g1w {
  left: -1px;
  top: 25px;
}

#aladja #aladja-g1w #g1w-v-0 {
  bottom: 26px;
  left: 34px;
  height: 65px;
}

#sapeleNippGs {
  position: absolute;
  width: 204px;
  height: 52px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 8px 16px #0000001F;
          box-shadow: 0px 8px 16px #0000001F;
  background-color: #e2dfdf;
  top: 727px;
  left: 815px;
}

#sapeleNippGs #sapeleNippGs-s4g {
  left: -1px;
  top: 25px;
}

#biu {
  position: absolute;
  width: 68px;
  height: 52px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 8px 16px #0000001F;
          box-shadow: 0px 8px 16px #0000001F;
  background-color: #e2dfdf;
  top: 0px;
  left: 1156px;
}

#biu #biu-w21b {
  left: -1px;
  top: 25px;
}

#damaturu {
  position: absolute;
  width: 136px;
  height: 52px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 8px 16px #0000001F;
          box-shadow: 0px 8px 16px #0000001F;
  background-color: #e2dfdf;
  top: 78px;
  left: 1156px;
}

#damaturu #damaturu-e1d {
  left: -1px;
  top: 25px;
}

#damaturu #damaturu-d1l {
  left: 67px;
  top: 25px;
}

#damaturu #damaturu-d1l #d1l-h-0 {
  width: 68px;
  top: 13px;
  left: 68px;
}

#molai {
  position: absolute;
  width: 68px;
  height: 52px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 8px 16px #0000001F;
          box-shadow: 0px 8px 16px #0000001F;
  background-color: #e2dfdf;
  top: 78px;
  left: 1359px;
}

#molai #molai-d1l {
  left: -1px;
  top: 25px;
}

#yola {
  position: absolute;
  width: 68px;
  height: 52px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 8px 16px #0000001F;
          box-shadow: 0px 8px 16px #0000001F;
  background-color: #e2dfdf;
  top: 103px;
  left: 1494px;
}

#yola #yola-e1y {
  left: -1px;
  top: 25px;
}

#ajaokuta {
  position: absolute;
  width: 136px;
  height: 130px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 8px 16px #0000001F;
          box-shadow: 0px 8px 16px #0000001F;
  background-color: #e2dfdf;
  top: 442px;
  left: 1156px;
}

#ajaokuta #ajaokuta-j1l {
  left: -1px;
  top: 25px;
}

#ajaokuta #ajaokuta-j2l {
  left: -1px;
  top: 51px;
}

#ajaokuta #ajaokuta-b11j {
  left: -1px;
  top: 77px;
}

#ajaokuta #ajaokuta-b12j {
  left: -1px;
  top: 103px;
}

#ajaokuta #ajaokuta-r1j {
  left: 67px;
  top: 25px;
}

#ajaokuta #ajaokuta-r1j #r1j-h-0 {
  width: 68px;
  top: 13px;
  left: 68px;
}

#ajaokuta #ajaokuta-r2j {
  left: 67px;
  top: 51px;
}

#ajaokuta #ajaokuta-r2j #r2j-h-0 {
  width: 68px;
  top: 13px;
  left: 68px;
}

#gereguGs {
  position: absolute;
  width: 68px;
  height: 78px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 8px 16px #0000001F;
          box-shadow: 0px 8px 16px #0000001F;
  background-color: #e2dfdf;
  top: 442px;
  left: 1359px;
}

#gereguGs #gereguGs-r1j {
  left: -1px;
  top: 25px;
}

#gereguGs #gereguGs-r2j {
  left: -1px;
  top: 51px;
}

#gereguNipp {
  position: absolute;
  width: 68px;
  height: 78px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 8px 16px #0000001F;
          box-shadow: 0px 8px 16px #0000001F;
  background-color: #e2dfdf;
  top: 442px;
  left: 1426px;
}

#asaba {
  position: absolute;
  width: 136px;
  height: 52px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 8px 16px #0000001F;
          box-shadow: 0px 8px 16px #0000001F;
  background-color: #e2dfdf;
  top: 597px;
  left: 1360px;
}

#asaba #asaba-b3d {
  left: -1px;
  top: 25px;
}

#asaba #asaba-d3t {
  left: 67px;
  top: 25px;
}

#asaba #asaba-d3t #d3t-h-0 {
  width: 68px;
  top: 13px;
  left: 68px;
}

#alaojiGs {
  position: absolute;
  width: 68px;
  height: 78px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 8px 16px #0000001F;
          box-shadow: 0px 8px 16px #0000001F;
  background-color: #e2dfdf;
  top: 676px;
  left: 1429px;
}

#alaojiGs #alaojiGs-l7a {
  left: -1px;
  top: 25px;
}

#alaojiGs #alaojiGs-l7a #l7a-h-0 {
  width: 68px;
  top: 13px;
  left: 68px;
}

#alaojiGs #alaojiGs-l8a {
  left: -1px;
  top: 51px;
}

#alaojiGs #alaojiGs-l8a #l8a-h-0 {
  width: 68px;
  top: 13px;
  left: 68px;
}

#owerri {
  position: absolute;
  width: 136px;
  height: 78px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 8px 16px #0000001F;
          box-shadow: 0px 8px 16px #0000001F;
  background-color: #e2dfdf;
  top: 753px;
  left: 1292px;
}

#owerri #owerri-a23w {
  left: 67px;
  top: 25px;
}

#owerri #owerri-a23w #a23w-h-0 {
  width: 34px;
  top: 13px;
  left: 68px;
}

#owerri #owerri-a23w #a23w-v-1 {
  bottom: 12px;
  left: 102px;
  height: 26px;
}

#owerri #owerri-a23w #a23w-h-2 {
  width: 102px;
  top: -13px;
  left: 102px;
}

#owerri #owerri-a24w {
  left: 67px;
  top: 51px;
}

#owerri #owerri-a24w #a24w-h-0 {
  width: 68px;
  top: 13px;
  left: 68px;
}

#owerri #owerri-a24w #a24w-v-1 {
  bottom: 12px;
  left: 136px;
  height: 26px;
}

#owerri #owerri-a24w #a24w-h-2 {
  width: 68px;
  top: -13px;
  left: 136px;
}

#owerri #owerri-w21h {
  left: -1px;
  top: 25px;
}

#owerri #owerri-w22h {
  left: -1px;
  top: 51px;
}

#ahaoda {
  position: absolute;
  width: 136px;
  height: 104px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 8px 16px #0000001F;
          box-shadow: 0px 8px 16px #0000001F;
  background-color: #e2dfdf;
  top: 754px;
  left: 1088px;
}

#ahaoda #ahaoda-w21h {
  left: 67px;
  top: 25px;
}

#ahaoda #ahaoda-w21h #w21h-h-0 {
  width: 68px;
  top: 13px;
  left: 68px;
}

#ahaoda #ahaoda-w22h {
  left: 67px;
  top: 51px;
}

#ahaoda #ahaoda-w22h #w22h-h-0 {
  width: 68px;
  top: 13px;
  left: 68px;
}

#ahaoda #ahaoda-h23r {
  left: -1px;
  top: 77px;
}

#ahaoda #ahaoda-h23r #h23r-v-0 {
  top: 26px;
  left: 34px;
  height: 52px;
}

#ahaoda #ahaoda-h24r {
  left: 67px;
  top: 77px;
}

#ahaoda #ahaoda-h24r #h24r-v-0 {
  top: 26px;
  left: 34px;
  height: 52px;
}

#transamadiGs {
  position: absolute;
  width: 68px;
  height: 78px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 8px 16px #0000001F;
          box-shadow: 0px 8px 16px #0000001F;
  background-color: #e2dfdf;
  top: 1118px;
  left: 1020px;
}

#transamadiGs #transamadiGs-m21p {
  left: -1px;
  top: 25px;
}

#transamadiGs #transamadiGs-m21p #m21p-h-0 {
  width: 68px;
  top: 13px;
  left: 68px;
}

#transamadiGs #transamadiGs-m22p {
  left: -1px;
  top: 51px;
}

#transamadiGs #transamadiGs-m22p #m22p-h-0 {
  width: 68px;
  top: 13px;
  left: 68px;
}

#phMain {
  position: absolute;
  width: 340px;
  height: 78px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 8px 16px #0000001F;
          box-shadow: 0px 8px 16px #0000001F;
  background-color: #e2dfdf;
  top: 1118px;
  left: 1155px;
}

#phMain #phMain-m21p {
  left: -1px;
  top: 25px;
}

#phMain #phMain-m22p {
  left: -1px;
  top: 51px;
}

#phMain #phMain-mk21p {
  left: 203px;
  top: 25px;
}

#phMain #phMain-f21p {
  left: 271px;
  top: 25px;
}

#phMain #phMain-f21p #f21p-h-0 {
  width: 68px;
  top: 13px;
  left: 68px;
}

#phMain #phMain-v21p {
  left: 135px;
  top: 25px;
}

#phMain #phMain-v22p {
  left: 67px;
  top: 25px;
}

#phMain #phMain-f22p {
  left: 271px;
  top: 51px;
}

#phMain #phMain-f22p #f22p-h-0 {
  width: 68px;
  top: 13px;
  left: 68px;
}

#riversIppGs {
  position: absolute;
  width: 68px;
  height: 78px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 8px 16px #0000001F;
          box-shadow: 0px 8px 16px #0000001F;
  background-color: #e2dfdf;
  top: 1014px;
  left: 1223px;
}

#riversIppGs #riversIppGs-v21p {
  left: -1px;
  top: 25px;
}

#riversIppGs #riversIppGs-v21p #v21p-h-0 {
  width: 34px;
  top: 13px;
  left: 68px;
}

#riversIppGs #riversIppGs-v21p #v21p-v-1 {
  top: 13px;
  left: 102px;
  height: 91px;
}

#riversIppGs #riversIppGs-v22p {
  left: -1px;
  top: 51px;
}

#riversIppGs #riversIppGs-v22p #v22p-v-0 {
  top: 26px;
  left: 34px;
  height: 52px;
}

#omokuGs {
  position: absolute;
  width: 68px;
  height: 52px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 8px 16px #0000001F;
          box-shadow: 0px 8px 16px #0000001F;
  background-color: #e2dfdf;
  top: 1014px;
  left: 1358px;
}

#omokuGs #omokuGs-mk21p {
  left: -1px;
  top: 25px;
}

#omokuGs #omokuGs-mk21p #mk21p-v-0 {
  top: 26px;
  left: 34px;
  height: 78px;
}

#gbarainGs {
  position: absolute;
  width: 204px;
  height: 78px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 8px 16px #0000001F;
          box-shadow: 0px 8px 16px #0000001F;
  background-color: #e2dfdf;
  top: 883px;
  left: 1088px;
}

#gbarainGs #gbarainGs-h23r {
  left: -1px;
  top: 25px;
}

#gbarainGs #gbarainGs-h24r {
  left: 67px;
  top: 25px;
}

#gbarainGs #gbarainGs-r21y {
  left: 135px;
  top: 25px;
}

#gbarainGs #gbarainGs-r21y #r21y-h-0 {
  width: 68px;
  top: 13px;
  left: 68px;
}

#gbarainGs #gbarainGs-r22y {
  left: 135px;
  top: 51px;
}

#gbarainGs #gbarainGs-r22y #r22y-h-0 {
  width: 68px;
  top: 13px;
  left: 68px;
}

#ugwuaji {
  position: absolute;
  width: 204px;
  height: 130px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 8px 16px #0000001F;
          box-shadow: 0px 8px 16px #0000001F;
  background-color: #e2dfdf;
  top: 208px;
  left: 1564px;
}

#ugwuaji #ugwuaji-u1a {
  left: -1px;
  top: 25px;
}

#ugwuaji #ugwuaji-u2a {
  left: -1px;
  top: 51px;
}

#ugwuaji #ugwuaji-h1u {
  left: -1px;
  top: 103px;
}

#ugwuaji #ugwuaji-h1u #h1u-v-0 {
  top: 26px;
  left: 34px;
  height: 52px;
}

#ugwuaji #ugwuaji-h2u {
  left: 67px;
  top: 103px;
}

#ugwuaji #ugwuaji-h2u #h2u-v-0 {
  top: 26px;
  left: 34px;
  height: 52px;
}

#ugwuaji #ugwuaji-k1u {
  left: 135px;
  top: 25px;
}

#ugwuaji #ugwuaji-k1u #k1u-h-0 {
  width: 510px;
  top: 13px;
  left: 68px;
}

#ugwuaji #ugwuaji-k1u #k1u-v-1 {
  top: 13px;
  left: 578px;
  height: 455px;
}

#ugwuaji #ugwuaji-k2u {
  left: 135px;
  top: 51px;
}

#ugwuaji #ugwuaji-k2u #k2u-h-0 {
  width: 442px;
  top: 13px;
  left: 68px;
}

#ugwuaji #ugwuaji-k2u #k2u-v-1 {
  top: 13px;
  left: 510px;
  height: 429px;
}

#ugwuaji #ugwuaji-k3u {
  left: 135px;
  top: 77px;
}

#ugwuaji #ugwuaji-k3u #k3u-h-0 {
  width: 374px;
  top: 13px;
  left: 68px;
}

#ugwuaji #ugwuaji-k3u #k3u-v-1 {
  top: 13px;
  left: 442px;
  height: 403px;
}

#ugwuaji #ugwuaji-k4u {
  left: 135px;
  top: 103px;
}

#ugwuaji #ugwuaji-k4u #k4u-h-0 {
  width: 306px;
  top: 13px;
  left: 68px;
}

#ugwuaji #ugwuaji-k4u #k4u-v-1 {
  top: 13px;
  left: 374px;
  height: 377px;
}

#newHaven {
  position: absolute;
  width: 136px;
  height: 78px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 8px 16px #0000001F;
          box-shadow: 0px 8px 16px #0000001F;
  background-color: #e2dfdf;
  top: 363px;
  left: 1564px;
}

#newHaven #newHaven-h1u {
  left: -1px;
  top: 25px;
}

#newHaven #newHaven-h2u {
  left: 67px;
  top: 25px;
}

#newHaven #newHaven-t3h {
  left: 67px;
  top: 51px;
}

#newHaven #newHaven-t3h #t3h-v-0 {
  top: 26px;
  left: 34px;
  height: 104px;
}

#onitsha {
  position: absolute;
  width: 136px;
  height: 130px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 8px 16px #0000001F;
          box-shadow: 0px 8px 16px #0000001F;
  background-color: #e2dfdf;
  top: 520px;
  left: 1564px;
}

#onitsha #onitsha-b1t {
  left: -1px;
  top: 51px;
}

#onitsha #onitsha-b2t {
  left: -1px;
  top: 77px;
}

#onitsha #onitsha-d3t {
  left: -1px;
  top: 103px;
}

#onitsha #onitsha-t4a {
  left: 67px;
  top: 103px;
}

#onitsha #onitsha-t4a #t4a-v-0 {
  top: 26px;
  left: 34px;
  height: 52px;
}

#onitsha #onitsha-t3h {
  left: 67px;
  top: 25px;
}

#onitsha #onitsha-k1t {
  left: 67px;
  top: 51px;
}

#onitsha #onitsha-k1t #k1t-h-0 {
  width: 68px;
  top: 13px;
  left: 68px;
}

#onitsha #onitsha-k2t {
  left: 67px;
  top: 77px;
}

#onitsha #onitsha-k2t #k2t-h-0 {
  width: 68px;
  top: 13px;
  left: 68px;
}

#okpaiGs {
  position: absolute;
  width: 68px;
  height: 78px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 8px 16px #0000001F;
          box-shadow: 0px 8px 16px #0000001F;
  background-color: #e2dfdf;
  top: 546px;
  left: 1767px;
}

#okpaiGs #okpaiGs-k1t {
  left: -1px;
  top: 25px;
}

#okpaiGs #okpaiGs-k2t {
  left: -1px;
  top: 51px;
}

#alaoji {
  position: absolute;
  width: 340px;
  height: 130px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 8px 16px #0000001F;
          box-shadow: 0px 8px 16px #0000001F;
  background-color: #e2dfdf;
  top: 676px;
  left: 1564px;
}

#alaoji #alaoji-l7a {
  left: -1px;
  top: 25px;
}

#alaoji #alaoji-l8a {
  left: -1px;
  top: 51px;
}

#alaoji #alaoji-f1a {
  left: 67px;
  top: 103px;
}

#alaoji #alaoji-f1a #f1a-v-0 {
  top: 26px;
  left: 34px;
  height: 312px;
}

#alaoji #alaoji-f2a {
  left: 135px;
  top: 103px;
}

#alaoji #alaoji-f2a #f2a-v-0 {
  top: 26px;
  left: 34px;
  height: 312px;
}

#alaoji #alaoji-t4a {
  left: 67px;
  top: 25px;
}

#alaoji #alaoji-a1k {
  left: 271px;
  top: 25px;
}

#alaoji #alaoji-a1k #a1k-h-0 {
  width: 68px;
  top: 13px;
  left: 68px;
}

#alaoji #alaoji-a2k {
  left: 271px;
  top: 51px;
}

#alaoji #alaoji-a2k #a2k-h-0 {
  width: 68px;
  top: 13px;
  left: 68px;
}

#alaoji #alaoji-a23b {
  left: 203px;
  top: 103px;
}

#alaoji #alaoji-a23b #a23b-v-0 {
  top: 26px;
  left: 34px;
  height: 52px;
}

#alaoji #alaoji-a26b {
  left: 271px;
  top: 103px;
}

#alaoji #alaoji-a26b #a26b-v-0 {
  top: 26px;
  left: 34px;
  height: 52px;
}

#alaoji #alaoji-a23w {
  left: -1px;
  top: 77px;
}

#alaoji #alaoji-a24w {
  left: -1px;
  top: 103px;
}

#aba {
  position: absolute;
  width: 136px;
  height: 78px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 8px 16px #0000001F;
          box-shadow: 0px 8px 16px #0000001F;
  background-color: #e2dfdf;
  top: 831px;
  left: 1768px;
}

#aba #aba-a23b {
  left: -1px;
  top: 25px;
}

#aba #aba-a26b {
  left: -1px;
  top: 51px;
}

#aba #aba-b21t {
  left: 67px;
  top: 25px;
}

#aba #aba-b21t #b21t-h-0 {
  width: 68px;
  top: 13px;
  left: 68px;
}

#yenegoa {
  position: absolute;
  width: 68px;
  height: 78px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 8px 16px #0000001F;
          box-shadow: 0px 8px 16px #0000001F;
  background-color: #e2dfdf;
  top: 883px;
  left: 1359px;
}

#yenegoa #yenegoa-r21y {
  left: -1px;
  top: 25px;
}

#yenegoa #yenegoa-r22y {
  left: -1px;
  top: 51px;
}

#afamIv_vGs {
  position: absolute;
  width: 68px;
  height: 78px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 8px 16px #0000001F;
          box-shadow: 0px 8px 16px #0000001F;
  background-color: #e2dfdf;
  top: 1118px;
  left: 1564px;
}

#afamIv_vGs #afamIv_vGs-f21p {
  left: -1px;
  top: 25px;
}

#afamIv_vGs #afamIv_vGs-f22p {
  left: -1px;
  top: 51px;
}

#afamViTs {
  position: absolute;
  width: 204px;
  height: 78px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 8px 16px #0000001F;
          box-shadow: 0px 8px 16px #0000001F;
  background-color: #e2dfdf;
  top: 1118px;
  left: 1631px;
}

#afamViTs #afamViTs-f1a {
  left: -1px;
  top: 25px;
}

#afamViTs #afamViTs-f2a {
  left: 67px;
  top: 25px;
}

#afamViTs #afamViTs-f5k {
  left: 135px;
  top: 51px;
}

#afamViTs #afamViTs-f5k #f5k-h-0 {
  width: 35px;
  top: 13px;
  left: 68px;
}

#afamViTs #afamViTs-f5k #f5k-v-1 {
  top: 13px;
  left: 103px;
  height: 52px;
}

#afamViTs #afamViTs-f5k #f5k-h-2 {
  width: 680px;
  top: 65px;
  left: 103px;
}

#afamViTs #afamViTs-f6k {
  left: 135px;
  top: 25px;
}

#afamViTs #afamViTs-f6k #f6k-h-0 {
  width: 102px;
  top: 13px;
  left: 68px;
}

#afamViTs #afamViTs-f6k #f6k-v-1 {
  top: 13px;
  left: 170px;
  height: 52px;
}

#afamViTs #afamViTs-f6k #f6k-h-2 {
  width: 545px;
  top: 65px;
  left: 170px;
}

#afamViTs #afamViTs-ada200 {
  left: -1px;
  top: 51px;
}

#afamViTs #afamViTs-adb200 {
  left: 67px;
  top: 51px;
}

#itu {
  position: absolute;
  width: 136px;
  height: 78px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 8px 16px #0000001F;
          box-shadow: 0px 8px 16px #0000001F;
  background-color: #e2dfdf;
  top: 831px;
  left: 1971px;
}

#itu #itu-b21t {
  left: -1px;
  top: 25px;
}

#itu #itu-d22t {
  left: 67px;
  top: 25px;
}

#itu #itu-d22t #d22t-h-0 {
  width: 34px;
  top: 13px;
  left: 68px;
}

#itu #itu-d22t #d22t-v-0 {
  top: 13px;
  left: 102px;
  height: 130px;
}

#itu #itu-d22t #d22t-h-1 {
  width: 34px;
  top: 143px;
  left: 102px;
}

#itu #itu-e22t {
  left: 67px;
  top: 51px;
}

#itu #itu-e22t #e22t-v-0 {
  top: 26px;
  left: 34px;
  height: 52px;
}

#adiabor {
  position: absolute;
  width: 136px;
  height: 78px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 8px 16px #0000001F;
          box-shadow: 0px 8px 16px #0000001F;
  background-color: #e2dfdf;
  top: 934px;
  left: 2174px;
}

#adiabor #adiabor-d22t {
  left: -1px;
  top: 51px;
}

#adiabor #adiabor-d1b {
  left: -1px;
  top: 25px;
}

#adiabor #adiabor-d2b {
  left: 67px;
  top: 25px;
}

#eket {
  position: absolute;
  width: 136px;
  height: 78px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 8px 16px #0000001F;
          box-shadow: 0px 8px 16px #0000001F;
  background-color: #e2dfdf;
  top: 934px;
  left: 1971px;
}

#eket #eket-e22t {
  left: 67px;
  top: 25px;
}

#eket #eket-e21m {
  left: -1px;
  top: 51px;
}

#eket #eket-e21m #e21m-v-0 {
  top: 26px;
  left: 34px;
  height: 52px;
}

#eket #eket-e22m {
  left: 67px;
  top: 51px;
}

#eket #eket-e22m #e22m-v-0 {
  top: 26px;
  left: 34px;
  height: 52px;
}

#ibomGs {
  position: absolute;
  width: 136px;
  height: 104px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 8px 16px #0000001F;
          box-shadow: 0px 8px 16px #0000001F;
  background-color: #e2dfdf;
  top: 1037px;
  left: 1971px;
}

#ibomGs #ibomGs-e21m {
  left: -1px;
  top: 25px;
}

#ibomGs #ibomGs-e22m {
  left: 67px;
  top: 25px;
}

#ibomGs #ibomGs-bm23s {
  left: 67px;
  top: 51px;
}

#ibomGs #ibomGs-bm23s #bm23s-h-0 {
  width: 68px;
  top: 13px;
  left: 68px;
}

#ibomGs #ibomGs-bm24s {
  left: 67px;
  top: 77px;
}

#ibomGs #ibomGs-bm24s #bm24s-h-0 {
  width: 68px;
  top: 13px;
  left: 68px;
}

#ikotAbasi {
  position: absolute;
  width: 136px;
  height: 78px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 8px 16px #0000001F;
          box-shadow: 0px 8px 16px #0000001F;
  background-color: #e2dfdf;
  top: 1063px;
  left: 2174px;
}

#ikotAbasi #ikotAbasi-bm23s {
  left: -1px;
  top: 25px;
}

#ikotAbasi #ikotAbasi-bm24s {
  left: -1px;
  top: 51px;
}

#ikotAbasi #ikotAbasi-s1k {
  left: 67px;
  top: 51px;
}

#ikotAbasi #ikotAbasi-s1k #s1k-h-0 {
  width: 102px;
  top: 13px;
  left: 68px;
}

#ikotAbasi #ikotAbasi-s2k {
  left: 67px;
  top: 25px;
}

#ikotAbasi #ikotAbasi-s2k #s2k-h-0 {
  width: 34px;
  top: 13px;
  left: 68px;
}

#ikotEkpene {
  position: absolute;
  width: 408px;
  height: 130px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 8px 16px #0000001F;
          box-shadow: 0px 8px 16px #0000001F;
  background-color: #e2dfdf;
  top: 676px;
  left: 1972px;
}

#ikotEkpene #ikotEkpene-a1k {
  left: -1px;
  top: 25px;
}

#ikotEkpene #ikotEkpene-a2k {
  left: -1px;
  top: 51px;
}

#ikotEkpene #ikotEkpene-d1k {
  left: 203px;
  top: 103px;
}

#ikotEkpene #ikotEkpene-d1k #d1k-v-0 {
  top: 26px;
  left: 34px;
  height: 52px;
}

#ikotEkpene #ikotEkpene-d2k {
  left: 271px;
  top: 103px;
}

#ikotEkpene #ikotEkpene-d2k #d2k-v-0 {
  top: 26px;
  left: 34px;
  height: 52px;
}

#ikotEkpene #ikotEkpene-k1u {
  left: 271px;
  top: 25px;
}

#ikotEkpene #ikotEkpene-k2u {
  left: 203px;
  top: 25px;
}

#ikotEkpene #ikotEkpene-k3u {
  left: 135px;
  top: 25px;
}

#ikotEkpene #ikotEkpene-k4u {
  left: 67px;
  top: 25px;
}

#ikotEkpene #ikotEkpene-s1k {
  left: 339px;
  top: 77px;
}

#ikotEkpene #ikotEkpene-s1k #s1k-h-0 {
  width: 34px;
  top: 13px;
  left: 68px;
}

#ikotEkpene #ikotEkpene-s1k #s1k-v-0 {
  top: 13px;
  left: 102px;
  height: 364px;
}

#ikotEkpene #ikotEkpene-s2k {
  left: 339px;
  top: 103px;
}

#ikotEkpene #ikotEkpene-s2k #s2k-v-0 {
  top: 26px;
  left: 34px;
  height: 297px;
}

#ikotEkpene #ikotEkpene-f5k {
  left: 339px;
  top: 25px;
}

#ikotEkpene #ikotEkpene-f5k #f5k-h-0 {
  width: 170px;
  top: 13px;
  left: 68px;
}

#ikotEkpene #ikotEkpene-f5k #f5k-v-0 {
  top: 13px;
  left: 238px;
  height: 520px;
}

#ikotEkpene #ikotEkpene-f6k {
  left: 339px;
  top: 51px;
}

#ikotEkpene #ikotEkpene-f6k #f6k-h-0 {
  width: 102px;
  top: 13px;
  left: 68px;
}

#ikotEkpene #ikotEkpene-f6k #f6k-v-0 {
  top: 13px;
  left: 170px;
  height: 469px;
}

#odukpaniGs {
  position: absolute;
  width: 136px;
  height: 78px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 8px 16px #0000001F;
          box-shadow: 0px 8px 16px #0000001F;
  background-color: #e2dfdf;
  top: 831px;
  left: 2174px;
}

#odukpaniGs #odukpaniGs-d1k {
  left: -1px;
  top: 25px;
}

#odukpaniGs #odukpaniGs-d2k {
  left: 67px;
  top: 25px;
}

#odukpaniGs #odukpaniGs-d1b {
  left: -1px;
  top: 51px;
}

#odukpaniGs #odukpaniGs-d1b #d1b-v-0 {
  top: 26px;
  left: 34px;
  height: 52px;
}

#odukpaniGs #odukpaniGs-d2b {
  left: 67px;
  top: 51px;
}

#odukpaniGs #odukpaniGs-d2b #d2b-v-0 {
  top: 26px;
  left: 34px;
  height: 52px;
}
/*# sourceMappingURL=style.css.map */