$ahaodaTop: map-get($row5, 'top') + getHeight(3);
$ahaodaLeft: map-get($col4, 'left');
$ahaodaWidth: map-get(stationDimention(3,2), 'width');
$ahaodaHeight: map-get(stationDimention(3,2), 'height');
#ahaoda{
  @include station(3,2);
  top: $ahaodaTop;
  left: $ahaodaLeft;

  #ahaoda-w21h{
    left: map-get(lineBoxPosition(1, 2), 'left');
    top: map-get(lineBoxPosition(1, 2), 'top');

    #w21h-h-0 {
      @include hConnection(getLength(1));
    }
  }

  #ahaoda-w22h{
    left: map-get(lineBoxPosition(2, 2), 'left');
    top: map-get(lineBoxPosition(2, 2), 'top');
  
    #w22h-h-0 {
      @include hConnection(getLength(1));
    }
  }

  #ahaoda-h23r{
    left: map-get(lineBoxPosition(3, 1), 'left');
    top: map-get(lineBoxPosition(3, 1), 'top');

    #h23r-v-0 {
      @include vConnection(getHeight(2));
    }
  }

  #ahaoda-h24r{
    left: map-get(lineBoxPosition(3, 2), 'left');
    top: map-get(lineBoxPosition(3, 2), 'top');

    #h24r-v-0 {
      @include vConnection(getHeight(2));
    }
  }

}