$ahaodaTop: $owerriTop + $owerriHeight + getHeight(1);
$ahaodaLeft: $owerriLeft;
$ahaodaWidth: map-get(stationDimention(3,2), 'width');
$ahaodaHeight: map-get(stationDimention(3,2), 'height');
#ahaoda{
  @include station(3,2);
  top: $ahaodaTop;
  left: $ahaodaLeft;

  #ahaoda-w21h{
    left: map-get(lineBoxPosition(1, 1), 'left');
    top: map-get(lineBoxPosition(1, 1), 'top');
  }

  #ahaoda-w22h{
    left: map-get(lineBoxPosition(1, 2), 'left');
    top: map-get(lineBoxPosition(1, 2), 'top');
  }

  #ahaoda-h23r{
    left: map-get(lineBoxPosition(2, 2), 'left');
    top: map-get(lineBoxPosition(2, 2), 'top');

    #h23r-h-0 {
      @include hConnection(getLength(1));
    }
  }

  #ahaoda-h24r{
    left: map-get(lineBoxPosition(3, 2), 'left');
    top: map-get(lineBoxPosition(3, 2), 'top');

    #h24r-h-0 {
      @include hConnection(getLength(1));
    }
  }

}