$aladjaTop: $deltaGsTop + $deltaGsHeight + getHeight(1);
$aladjaLeft: $deltaGsLeft + $deltaGsWidth;
$aladjaWidth: map-get(stationDimention(1,1), 'width');
$aladjaHeight: map-get(stationDimention(1,1), 'height');
#aladja{
  @include station(1,1);
  top: $aladjaTop;
  left: $aladjaLeft;

  #aladja-g1w{
    left: map-get(lineBoxPosition(1, 1), 'left');
    top: map-get(lineBoxPosition(1, 1), 'top');

    #g1w-v-0 {
      @include vConnection2(getHeight(2) + map-get($halfCell, 'height'));
    }
  }
}