$azuraIppGsTop: map-get($row4, 'top');//$ihovborNippGsTop;
$azuraIppGsLeft: map-get($col2, 'left');//$ihovborNippGsLeft + $ihovborNippGsWidth;
$azuraIppGsWidth: map-get(stationDimention(1,1), 'width');
$azuraIppGsHeight: map-get(stationDimention(1,1), 'height');
#azuraIppGs{
  @include station(1,1);
  top: $azuraIppGsTop;
  left: $azuraIppGsLeft;

  
}