$egbinGsTop: map-get($row5, 'top') + getHeight(5);
$egbinGsLeft: $ajahLeft + $ajahWidth + getLength(1);
$egbinGsWidth: map-get(stationDimention(4,3), 'width');
$egbinGsHeight: map-get(stationDimention(4,3), 'height');
#egbinGs{
  @include station(4,3);
  top: $egbinGsTop;
  left: $egbinGsLeft;

  #egbinGs-n7k{
    left: map-get(lineBoxPosition(1,1), 'left');
    top: map-get(lineBoxPosition(1,1), 'top');
  }
  #egbinGs-n8k{
    left: map-get(lineBoxPosition(1,2), 'left');
    top: map-get(lineBoxPosition(1,2), 'top');
  }
  #egbinGs-n6w{
    left: map-get(lineBoxPosition(1,3), 'left');
    top: map-get(lineBoxPosition(1,3), 'top');
  }
  #egbinGs-b6n{
    left: map-get(lineBoxPosition(2,3), 'left');
    top: map-get(lineBoxPosition(2,3), 'top');

    //1st Line
    $b6n-h-0Width: getLength(6) + map-get($halfCell, 'width');
    $b6n-h-0Top: map-get($halfCell, 'height');
    $b6n-h-0Left: map-get($cell, 'width');
    #b6n-h-0 {
      width: $b6n-h-0Width;
      top: $b6n-h-0Top;
      left: $b6n-h-0Left;
    }
    // 2nd Line
    $b6n-v-1Height: getHeight(8) +  map-get($halfCell, 'height');
    $b6n-v-1Bottom: $b6n-h-0Top - 1;
    $b6n-v-1Left: $b6n-h-0Left + $b6n-h-0Width;
    #b6n-v-1{
      bottom: $b6n-v-1Bottom;
      left: $b6n-v-1Left;
      height: $b6n-v-1Height;
    }
  }
  #egbinGs-n3j{
    left: map-get(lineBoxPosition(2,1), 'left');
    top: map-get(lineBoxPosition(2,1), 'top');
  }
  #egbinGs-n4j{
    left: map-get(lineBoxPosition(3,1), 'left');
    top: map-get(lineBoxPosition(3,1), 'top');
  }
}