$ibomGsTop: $eketTop + $eketHeight + getHeight(1);
$ibomGsLeft: $eketLeft;
$ibomGsWidth: map-get(stationDimention(3,2), 'width');
$ibomGsHeight: map-get(stationDimention(3,2), 'height');
#ibomGs{
  @include station(3,2);
  top: $ibomGsTop;
  left: $ibomGsLeft;

  #ibomGs-e22m{
    left: map-get(lineBoxPosition(1, 1), 'left');
    top: map-get(lineBoxPosition(1, 1), 'top');
  }

  #ibomGs-e21m{
    left: map-get(lineBoxPosition(1, 2), 'left');
    top: map-get(lineBoxPosition(1, 2), 'top');
  }

  #ibomGs-bm23s{
    left: map-get(lineBoxPosition(2, 2), 'left');
    top: map-get(lineBoxPosition(2, 2), 'top');
    #bm23s-h-0 {
      @include hConnection(getLength(1));
    }
  }

  #ibomGs-bm24s{
    left: map-get(lineBoxPosition(3, 2), 'left');
    top: map-get(lineBoxPosition(3, 2), 'top');
    #bm24s-h-0 {
      @include hConnection(getLength(1));
    }
  }

}