$ibomGsTop: $eketTop + $eketHeight + getHeight(1);
$ibomGsLeft: $eketLeft;
$ibomGsWidth: map-get(stationDimention(3,2), 'width');
$ibomGsHeight: map-get(stationDimention(3,2), 'height');
#ibomGs{
  @include station(3,2);
  top: $ibomGsTop;
  left: $ibomGsLeft;

  #ibomGs-e1m{
    left: map-get(lineBoxPosition(1, 1), 'left');
    top: map-get(lineBoxPosition(1, 1), 'top');
  }

  #ibomGs-e2m{
    left: map-get(lineBoxPosition(1, 2), 'left');
    top: map-get(lineBoxPosition(1, 2), 'top');
  }

  #ibomGs-m1o{
    left: map-get(lineBoxPosition(2, 2), 'left');
    top: map-get(lineBoxPosition(2, 2), 'top');
    #m1o-h-0 {
      @include hConnection(getLength(1));
    }
  }

  #ibomGs-m2o{
    left: map-get(lineBoxPosition(3, 2), 'left');
    top: map-get(lineBoxPosition(3, 2), 'top');
    #m2o-h-0 {
      @include hConnection(getLength(1));
    }
  }

}