$ikoroduTop: $sagamuTop;
$ikoroduLeft: $egbinGsLeft; 
$ikoroduWidth: map-get(stationDimention(3,3), 'width');
$ikoroduHeight: map-get(stationDimention(3,3), 'height');
#ikorodu{
  @include station(3,3);
  top: $ikoroduTop;
  left: $ikoroduLeft;

  #ikorodu-d23s{
    left: map-get(lineBoxPosition(1,1), 'left');
    top: map-get(lineBoxPosition(1,1), 'top');
  }
  #ikorodu-d24s{
    left: map-get(lineBoxPosition(2,1), 'left');
    top: map-get(lineBoxPosition(2,1), 'top');
  }

  #ikorodu-n21d{
    left: map-get(lineBoxPosition(1,2), 'left');
    top: map-get(lineBoxPosition(1,2), 'top');
  }
  #ikorodu-n22d{
    left: map-get(lineBoxPosition(1,3), 'left');
    top: map-get(lineBoxPosition(1,3), 'top');
  }

  #ikorodu-d21p{
    left: map-get(lineBoxPosition(3,2), 'left');
    top: map-get(lineBoxPosition(3,2), 'top');

    #d21p-v-0 {
      @include vConnection(getHeight(2));
    }
  }
  #ikorodu-d22p{
    left: map-get(lineBoxPosition(3,3), 'left');
    top: map-get(lineBoxPosition(3,3), 'top');

    #d22p-v-0 {
      @include vConnection(getHeight(2));
    }
  }
  #ikorodu-d23y{
    left: map-get(lineBoxPosition(3,1), 'left');
    top: map-get(lineBoxPosition(3,1), 'top');

    $d23y-h-0Width: getLength(1) + map-get($halfCell, 'width');
    $d23y-h-0Top: map-get($halfCell, 'height');
    $d23y-h-0Right: getLength(1);
    #d23y-h-0 {
      top: $d23y-h-0Top;
      right: $d23y-h-0Right;
      width: $d23y-h-0Width;
    }
    #d23y-v-1 {
      top: $d23y-h-0Top;
      left: -$d23y-h-0Width;
      height: getHeight(1) + map-get($halfCell, 'height');
    }
  }

}