$ikotAbasiTop: $ibomGsTop + getHeight(1);
$ikotAbasiLeft: $ibomGsLeft + $ibomGsWidth + getLength(1);
$ikotAbasiWidth: map-get(stationDimention(2,2), 'width');
$ikotAbasiHeight: map-get(stationDimention(2,2), 'height');
#ikotAbasi{
  @include station(2,2);
  top: $ikotAbasiTop;
  left: $ikotAbasiLeft;

  #ikotAbasi-bm23s{
    left: map-get(lineBoxPosition(1, 1), 'left');
    top: map-get(lineBoxPosition(1, 1), 'top');
  }

  #ikotAbasi-bm24s{
    left: map-get(lineBoxPosition(2, 1), 'left');
    top: map-get(lineBoxPosition(2, 1), 'top');
  }

  #ikotAbasi-s1k{
    left: map-get(lineBoxPosition(1, 2), 'left');
    top: map-get(lineBoxPosition(1, 2), 'top');

    #s1k-h-0 {
      @include hConnection(getLength(4) + map-get($halfCell, 'width') + 1);
    }
  }

  #ikotAbasi-s2k{
    left: map-get(lineBoxPosition(2, 2), 'left');
    top: map-get(lineBoxPosition(2, 2), 'top');

    #s2k-h-0 {
      @include hConnection(getLength(5) + map-get($halfCell, 'width') + 1);
    }
  }
  
}