$ikotAbasiTop: $ibomGsTop + getHeight(1);
$ikotAbasiLeft: $ibomGsLeft + $ibomGsWidth + getLength(1);
$ikotAbasiWidth: map-get(stationDimention(2,2), 'width');
$ikotAbasiHeight: map-get(stationDimention(2,2), 'height');
#ikotAbasi{
  @include station(2,2);
  top: $ikotAbasiTop;
  left: $ikotAbasiLeft;

  #ikotAbasi-m1o{
    left: map-get(lineBoxPosition(1, 1), 'left');
    top: map-get(lineBoxPosition(1, 1), 'top');
  }

  #ikotAbasi-m2o{
    left: map-get(lineBoxPosition(2, 1), 'left');
    top: map-get(lineBoxPosition(2, 1), 'top');
  }
  
}