$jebbaGsTop: map-get($row3, 'top') + map-get($cell, 'height');
$jebbaGsLeft: map-get($col1, 'left');
$jebbaGsWidth: map-get(stationDimention(2,1), 'width');
$jebbaGsHeight: map-get(stationDimention(2,1), 'height');
#jebbaGs{
  @include station(2,1);
  top: $jebbaGsTop;
  left: $jebbaGsLeft;

  #jebbaGs-b8j{
    left: map-get(lineBoxPosition(1, 1), 'left');;
    top: map-get(lineBoxPosition(1, 1), 'top');

    $b8j-h-0Width: getLength(2);
    #b8j-h-0 {
      width: $b8j-h-0Width;
      top: map-get($halfCell, 'height');
      left: map-get($cell, 'width');
    }
  }
  #jebbaGs-b9j{
    left: map-get(lineBoxPosition(2, 1), 'left');
    top: map-get(lineBoxPosition(2, 1), 'top');
    
    $b9j-h-0Width: getLength(2);
    #b9j-h-0 {
      width: $b9j-h-0Width;
      top: map-get($halfCell, 'height');
      left: map-get($cell, 'width');
    }
  }

  
}