$josTop: $kadunaTop + $kadunaHeight;//Starts from the top of row1
$josLeft: map-get($col3, 'left');//starts from the start of col3
$josWidth: map-get(stationDimention(2,2), 'width');
$josHeight: map-get(stationDimention(2,2), 'height');
#jos{
  @include station(2,2);
  top: $josTop;
  left: $josLeft;

  #jos-m2s{
    left: map-get(lineBoxPosition(1, 1), 'left');
    top: map-get(lineBoxPosition(1, 1), 'top');
  }
  #jos-s1e{
    left: map-get(lineBoxPosition(1, 2), 'left');
    top: map-get(lineBoxPosition(1, 2), 'top');

    #s1e-h-0 {
      @include hConnection(getLength(1));
    }
  }
  #jos-a1s{
    left: map-get(lineBoxPosition(2, 1), 'left');
    top: map-get(lineBoxPosition(2, 1), 'top');

    #a1s-v-0 {
      @include vConnection(getHeight(2));
    }
  }


  #jos-a2s{
    left: map-get(lineBoxPosition(2, 2), 'left');
    top: map-get(lineBoxPosition(2, 2), 'top');

    #a2s-v-0 {
      @include vConnection(getHeight(2));
    }
  }
}