$kainjiGsTop: $kainjiTsTop;
$kainjiGsLeft: map-get($col2, 'left');
$kainjiGsWidth: map-get(stationDimention(2,1), 'width');
$kainjiGsHeight: map-get(stationDimention(2,1), 'height');
#kainjiGs{
  @include station(2,1);
  top: $kainjiGsTop;
  left: $kainjiGsLeft;

  #kainjiGs-kn1k{
    left: map-get(lineBoxPosition(1, 1), 'left');
    top: map-get(lineBoxPosition(1, 1), 'top');
  }

  #kainjiGs-kn2k{
    left: map-get(lineBoxPosition(2, 1), 'left');
    top: map-get(lineBoxPosition(2, 1), 'top');
  }
}