//The top starts one cell after the end of Shiroro GS and one cell left after the start of shiroro
$katampeTop: $shiroroGsTop + $shiroroGsHeight + getHeight(1);
$katampeLeft: $ganmoLeft + $ganmoWidth + getLength(1);
$katampeWidth: map-get(stationDimention(2,1), 'width');
$katampeHeight: map-get(stationDimention(2,1), 'height');
#katampe{
  @include station(2,1);
  top: $katampeTop;
  left: $katampeLeft;

  #katampe-r4b{
    left: map-get(lineBoxPosition(1,1), 'left');
    top: map-get(lineBoxPosition(1,1), 'top');
  }
  #katampe-g5b{
    left: map-get(lineBoxPosition(2,1), 'left');
    top: map-get(lineBoxPosition(2,1), 'top');

    #g5b-h-0 {
      @include hConnection(getLength(2));
    }
  }
}