//Oke-Aro TS is tied to Ikeja-West TS by the left and one cell after the end of Ikeja-west
$okearoTop: $ikejaWestTop + $ikejaWestHeight + getHeight(1);
$okearoLeft: $ikejaWestLeft;
$okearoWidth: map-get(stationDimention(2,3), 'width');
$okearoHeight: map-get(stationDimention(2,3), 'height');
#okearo{
  @include station(2,3);
  top: $okearoTop;
  left: $okearoLeft;

  #okearo-k7w{
    left: map-get(lineBoxPosition(1, 1), 'left');
    top: map-get(lineBoxPosition(1, 1), 'top');
  }
  #okearo-k8w{
    left: map-get(lineBoxPosition(1, 2), 'left');
    top: map-get(lineBoxPosition(1, 2), 'top');
  }
  
  #okearo-n7k{
    left: map-get(lineBoxPosition(1, 3), 'left');
    top: map-get(lineBoxPosition(1, 3), 'top');

    $n7k-h-0Width: getLength(1);
    #n7k-h-0 {
      top: map-get($halfCell, 'height');
      left: map-get($cell, 'width');
      width: $n7k-h-0Width;
    }
  }

  #okearo-n8k{
    left: map-get(lineBoxPosition(2, 3), 'left');
    top: map-get(lineBoxPosition(2, 3), 'top');

    $n8k-h-0Width: getLength(1);
    #n8k-h-0 {
      top: map-get($halfCell, 'height');
      left: map-get($cell, 'width');
      width: $n8k-h-0Width;
    }
  }
}