$onitshaTop: map-get($row4, 'top') + getHeight(3);
$onitshaLeft: $newHavenLeft;
$onitshaWidth: map-get(stationDimention(4,2), 'width');
$onitshaHeight: map-get(stationDimention(4,2), 'height');
#onitsha{
  @include station(4,2);
  top: $onitshaTop;
  left: $onitshaLeft;
  
  #onitsha-b1t{
    left: map-get(lineBoxPosition(2, 1), 'left');
    top: map-get(lineBoxPosition(2, 1), 'top');
  }
  #onitsha-b2t{
    left: map-get(lineBoxPosition(3, 1), 'left');
    top: map-get(lineBoxPosition(3, 1), 'top');
  }
  #onitsha-d3t{
    left: map-get(lineBoxPosition(4, 1), 'left');
    top: map-get(lineBoxPosition(4, 1), 'top');
  }
  #onitsha-t4a{
    left: map-get(lineBoxPosition(4, 2), 'left');
    top: map-get(lineBoxPosition(4, 2), 'top');

    #t4a-v-0 {
      @include vConnection(getHeight(2));
    }
  }


  #onitsha-t3h{
    left: map-get(lineBoxPosition(1, 2), 'left');
    top: map-get(lineBoxPosition(1, 2), 'top');
  }


  #onitsha-k1t{
    left: map-get(lineBoxPosition(2, 2), 'left');
    top: map-get(lineBoxPosition(2, 2), 'top');

    #k1t-h-0 {
      @include hConnection(getLength(1));
    }
  }
  #onitsha-k2t{
    left: map-get(lineBoxPosition(3, 2), 'left');
    top: map-get(lineBoxPosition(3, 2), 'top');

    #k2t-h-0 {
      @include hConnection(getLength(1));
    }
  }
}