$riversIppGsTop: map-get($row5, 'top') + getHeight(13);
$riversIppGsLeft: $phMainLeft + getLength(1);
$riversIppGsWidth: map-get(stationDimention(2,1), 'width');
$riversIppGsHeight: map-get(stationDimention(2,1), 'height');
#riversIppGs{
  @include station(2,1);
  top: $riversIppGsTop;
  left: $riversIppGsLeft;

  #riversIppGs-v21p{
    left: map-get(lineBoxPosition(1,1), 'left');
    top: map-get(lineBoxPosition(1,1), 'top');

    $v21p-h-0Width: map-get($halfCell, 'width');
    #v21p-h-0 {
      @include hConnection($v21p-h-0Width);
    }
    #v21p-v-1 {
      top: map-get($halfCell, 'height');
      left: map-get($cell, 'width') + $v21p-h-0Width;
      height: getHeight(3) + map-get($halfCell, 'height');
    }
  }

  #riversIppGs-v22p{
    left: map-get(lineBoxPosition(2,1), 'left');
    top: map-get(lineBoxPosition(2,1), 'top');

    #v22p-v-0 {
      @include vConnection(getHeight(2));
    }
  }

}