$sagamuTop: $ikoroduTop; //The same Top with Ikorodu
$sagamuLeft: $ikoroduLeft + $ikoroduWidth + map-get($cell, 'width'); //Comes one cell after the end of ikorodu
$sagamuWidth: map-get(stationDimention(2,1), 'width');
$sagamuHeight: map-get(stationDimention(2,1), 'height');
#sagamu{
  @include station(2,1);
  top: $sagamuTop;
  left: $sagamuLeft;

  #sagamu-d23s{
    left: map-get(lineBoxPosition(1,1), 'left');
    top: map-get(lineBoxPosition(1,1), 'top');
  }
  #sagamu-d24s{
    left: map-get(lineBoxPosition(2,1), 'left');
    top: map-get(lineBoxPosition(2,1), 'top');
  }

}